###sim
modelsim/
verilog_libs/
rtl_work/
*.wlf
*.bak
*bak?
*.do
!wave.do
modelsim.ini
msim_transcript

###
output_files/

###incremental_d
incremental_db/


#pdf
*.pdf

#db

*.hdb 
*.cmp.rdb
*.cdb 
*.tdf 
*.ddb
*.qmsg 
*.hsd 
*.rdb 
*.ammdb 
*.bpm
*.tdb 
*.hier_info 
# *.db_info
*.hif
*.idb 
# *.ipinfo 
*.kpt
*.logdb 
#  *.sci
# *.syn_hier_info 
*.xml 
*.rpt 
*.wlf 
*.sdo 
*.vo 
*.xrf        
*.dbs 
*.psm 
*.qws 
*.sft        
